@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    width: 80%;
    margin: auto;
}
.header{
    background-color: #FFF;
    box-shadow:  0px 1.64744px 8.2372px 0px rgba(0, 0, 0, 0.10);
}
.header .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7px;
    color: #545BE8;
    
}
.logo img{
   width: 25px;
   height: 25px;  
}
.logo p{
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16.46px;
}
nav ul li a{
    color: #101928;
    font-family: 'Poppins', sans-serif;
}
.home{
    font-weight:700;
}
.login{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px;
}
.row1{
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:  1.2px solid #545BE8;
    border-radius:7px ;
    font-family: 'Inter', sans-serif;
}
.login .row2{
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #545BE8;
    border-radius:7px ;
}
.login .row2 a{
    color: #FFF;
    font-family: 'Inter', sans-serif;
}